H3 {font-size:28pt;font-family:optima;}
BODY {background-color:#CEF6F5;}
P {color:black;font-size:16pt;font-family:optima;}
TH {text-align:left;font-family:optima;}
TD {text-align:left;font-family:optima;}